@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoonn") format('svg');
}

@font-face {
  font-family: 'RarpeRoman';
  font-weight: normal;
  src: url("../fonts/humanst521-bt-roman-11929-webfont.eot");
  src: url("../fonts/humanst521-bt-roman-11929-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/humanst521-bt-roman-11929-webfont.woff") format('woff'),url("../fonts/humanst521-bt-roman-11929-webfont.ttf") format('truetype'),url("../fonts/humanst521-bt-roman-11929-webfont.svg#RarpeRoman") format('svg');
}

@font-face {
  font-family: 'RarpeBold';
  font-weight: normal;
  src: url("../fonts/humanst521-bt-bold-webfont.eot");
  src: url("../fonts/humanst521-bt-bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/humanst521-bt-bold-webfont.woff") format('woff'),url("../fonts/humanst521-bt-bold-webfont.ttf") format('truetype'),url("../fonts/humanst521-bt-bold-webfont.svg#RarpeBold") format('svg');
}

@font-face {
  font-family: 'slick';
  font-weight: normal;
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format('embedded-opentype'),url("../fonts/slick.woff") format('woff'),url("../fonts/slick.ttf") format('truetype'),url("../fonts/slick.svg#slick") format('svg');
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
footer,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

select {
  text-transform: none;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

.fix {
  overflow: hidden;
}

.right {
  float: right;
}

[class^="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telefono:before {
  content: "\e602";
}

.icon-slogan:before {
  content: "\e600";
}

.icon-slogan:before {
  content: "\e600";
}

.icon-rarpeLogo:before {
  content: "\e603";
}

.icon-mail:before {
  content: "\e604";
}

.icon-facebook:before {
  content: "\e601";
}

a {
  text-decoration: none;
}

ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'RarpeRoman';
  font-size: 16px;
  color: #424242;
}

.heading {
  border-bottom: 1px solid #3261ab;
  margin: 15px 0;
}

.heading h2 {
  border-bottom: 4px solid #3261ab;
  display: inline-block;
  font-family: 'RarpeRoman';
  font-size: 1.2rem;
  margin: 0;
  padding: 15px 0;
  text-transform: uppercase;
}

.barra_superior {
  background-color: #3261ab;
  color: #fff;
  width: auto;
}

.barra_superior .ancho {
  text-align: center;
}

.barra_superior .ancho > div {
  width: auto;
}

.barra_superior .slogan {
  font-size: 1.8rem;
}

.barra_superior .telefono a:link,
.barra_superior .telefono a:visited {
  color: #fff;
  font-size: 1.8rem;
  vertical-align: middle;
}

.barra_superior .telefono span {
  font-family: 'RarpeBold';
  vertical-align: middle;
}

.barra_superior .redes-sociales ul li {
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
}

.barra_superior .redes-sociales ul li a:link,
.barra_superior .redes-sociales ul li a:visited {
  color: #fff;
  font-size: 1.3rem;
}

.barra_superior .redes-sociales ul li a:hover {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

header {
  padding-top: 1.8rem;
  border-bottom: 2px solid #3261ab;
  background-color: #fff;
}

header .logotipo a:link,
header .logotipo a:visited {
  color: #1a1a1a;
  font-size: 5.5rem;
}

header nav {
  position: relative;
}

header nav ul li {
  padding: 5px 10px;
}

header nav ul li a:link,
header nav ul li a:visited {
  color: #4e4d4d;
  padding-bottom: 52px;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #3261ab;
}

header nav ul li ul {
  background: none repeat 0 0 rgba(255,255,255,0.9);
  border-top: 4px solid #3261ab;
  -webkit-box-shadow: 0 3px 6px #8e8e8e;
  box-shadow: 0 3px 6px #8e8e8e;
  left: -9999px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 56px;
  -webkit-transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  width: 200px;
  z-index: 999;
}

header nav ul li ul li {
  border-bottom: 1px solid #b6b4b3;
  display: block !important;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header nav ul li ul li:hover {
  background-color: #3261ab;
}

header nav ul li ul li a:link,
header nav ul li ul li a:visited {
  display: block;
  padding: 8px 35px;
  text-align: left;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header nav ul li ul li:hover a {
  color: #fff;
  padding-left: 40px;
  text-decoration: none;
}

header nav ul li:hover ul {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  left: 0;
}

.slider {
  font-size: 0;
  position: relative;
  z-index: 1;
}

.slider img {
  height: auto;
  width: 100%;
}

.categorias {
  background-color: #eef2f7;
  zoom: 1;
  width: 100%;
}

.categorias:before,
.categorias:after {
  content: "";
  display: table;
}

.categorias:after {
  clear: both;
}

.categorias .item {
  text-align: center;
  position: relative;
  padding: 1rem 0;
}

.categorias .item figure {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid #bcbcbc;
  height: 90px;
  margin: 0 auto;
  width: 127px;
}

.categorias .item .titulo {
  padding: 15px 0;
}

.categorias .item .titulo a:link,
.categorias .item .titulo a:visited {
  text-transform: uppercase;
  color: #3261ab;
  padding: 10px 0;
}

.categorias .item .descripcion {
  margin: 0 auto;
  text-align: justify;
  width: 80%;
}

.categorias .item .item-hover {
  background-color: #3261ab;
  -webkit-border-radius: 30px 5px 5px 5px;
  border-radius: 30px 5px 5px 5px;
  height: 135px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 3px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 100;
}

.categorias .item .item-hover .titulo a:link,
.categorias .item .item-hover .titulo a:visited {
  color: #fff;
}

.categorias .item .item-hover .descripcion {
  color: #fff;
  width: 80%;
}

.categorias .item .item-hover .more {
  padding: 15px 0;
}

.categorias .item .item-hover .more a:link,
.categorias .item .item-hover .more a:visited {
  color: #fff;
}

.categorias .item .item-hover .more a:hover {
  text-decoration: underline;
}

.categorias .item:hover .item-hover {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -o-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

section {
  padding: 20px;
}

section .empresa figure img {
  height: auto;
  width: 100%;
}

section .more {
  padding: 10px;
  border: 1px solid #3261ab;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

section .more a:link,
section .more a:visited {
  color: #3261ab;
}

section .more a:hover {
  text-decoration: underline;
}

section .actualidades figure img {
  height: auto;
  width: 100%;
}

section .destacados .caja {
  margin: 4rem 0;
  position: relative;
}

section .destacados .caja figure {
  text-align: center;
}

section .destacados .caja .caja-hover {
  background: none repeat 0 0 rgba(78,77,77,0.1);
  height: 204px;
  left: 0;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4.2rem;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  top: 0;
  width: 300px;
}

section .destacados .caja .caja-hover a:link,
section .destacados .caja .caja-hover a:visited {
  color: #fff;
  text-transform: uppercase;
  font-family: RarpeBold;
}

section .destacados .caja .caja-hover a:hover {
  color: #3261ab;
}

section .destacados .caja:hover .caja-hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

section .destacados .caja .detalles .titulo {
  background-color: #eef2f7;
  padding: 12px 8px;
}

section .destacados .caja .detalles .showmore {
  background-color: #3261ab;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 12px 8px;
}

section .destacados .caja .detalles .showmore a:link,
section .destacados .caja .detalles .showmore a:visited {
  color: #fff;
}

footer {
  background-color: #1a1a1a;
  border-top: 6px solid #ededed;
  color: #bcbcbc;
  padding: 15px;
}

footer article {
  padding: 12px 0;
}

footer article p.titulo {
  color: #3261ab;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

footer article .menu {
  text-align: center;
}

footer article .menu li {
  padding: 8px 0;
}

footer article .menu li a:link,
footer article .menu li a:visited {
  color: #bcbcbc;
  text-transform: capitalize;
}

footer article .menu li a:hover {
  color: #3261ab;
}

footer article .info {
  padding-left: 1rem;
  padding-top: 1rem;
}

footer article .info .titulo {
  text-transform: uppercase;
}

footer article .direccion {
  padding-left: 1rem;
}

footer article .formulario {
  text-align: center;
}

footer article .formulario input[type="text"],
footer article .formulario textarea {
  background-color: #333232;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #bcbcbc;
  display: inline-block;
  margin: 0 0 12px 0;
  padding: 7px 5px;
  width: 95%;
}

footer article .formulario input[type="submit"] {
  background-color: #4e4d4d;
  border: 2px solid transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  text-transform: capitalize;
}

footer article .formulario input[type="submit"]:hover {
  border: 2px solid #3261ab;
}

footer .seguridad {
  text-align: center;
}

footer .seguridad .titulo {
  margin-bottom: 5px;
}

footer .copy {
  border-top: 2px solid #bcbcbc;
  padding: 12px 0;
}

@media screen and (min-width:240px) {
  .barra_superior.small .telefono,
  .barra_superior.small .redes-sociales {
    display: none;
  }

  header.small {
    padding: 1.5rem;
    text-align: center;
  }

  header.small .logotipo a:link,
  header.small .logotipo a:visited {
    font-size: 4rem;
  }

  header.small nav {
    display: none;
  }

  header.small select {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    color: #4e4d4d;
    margin: 5px 0;
    padding: 12px;
    text-transform: uppercase;
    width: 95%;
  }
}

@media screen and (min-width:468px) {
  .barra_superior.phones {
    overflow: hidden;
  }

  .barra_superior.phones .redes-sociales {
    display: block;
    float: right;
    padding-right: 10px;
  }

  .barra_superior.phones .slogan {
    float: left;
  }

  header.phones .logotipo a:link,
  header.phones .logotipo a:visited {
    font-size: 6rem;
  }

  footer.phones .direccion,
  footer.phones .info {
    margin: 0 auto;
    width: 15rem;
  }

  footer.phones .formulario {
    margin: 0 auto;
    width: 20rem;
  }

  footer.phones .copy {
    text-align: center;
  }
}

@media screen and (min-width:768px) {
  header.tablet {
    zoom: 1;
  }

  header.tablet:before,
  header.tablet:after {
    content: "";
    display: table;
  }

  header.tablet:after {
    clear: both;
  }

  header.tablet .logotipo {
    float: left;
  }

  header.tablet #menuMovil {
    float: right;
    margin-top: 1.8rem;
    width: 40%;
  }

  section.tablet {
    padding: 0 3rem 3rem 3rem;
  }

  section.tablet .destacados .heading {
    text-align: left;
  }

  section.tablet .destacados {
    text-align: center;
  }

  section.tablet .destacados .caja {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  section.tablet .destacados .caja .detalles {
    overflow: hidden;
  }

  section.tablet .destacados .caja .detalles .titulo {
    float: left;
    width: 73%;
  }

  section.tablet .destacados .caja .detalles .showmore {
    float: left;
    width: 20%;
    -webkit-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
  }

  section.tablet .destacados .caja .caja-hover {
    width: 99.4%;
  }

  section.tablet .destacados .more {
    float: none;
  }

  footer.tablet {
    overflow: hidden;
    padding: 25px;
  }

  footer.tablet article {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }

  footer.tablet article .titulo,
  footer.tablet article .menu {
    text-align: left;
  }

  footer.tablet article .direccion,
  footer.tablet article .info {
    margin: 0;
  }

  footer.tablet article.seguridad {
    text-align: left;
  }

  footer.tablet article:first-child,
  footer.tablet article:nth-child(3) {
    margin-right: 1rem;
  }

  footer.tablet .formulario {
    text-align: right;
    margin: 0;
  }
}

@media screen and (min-width:1024px) {
  .barra_superior.large .ancho {
    margin: 0 auto;
    height: 34px;
    width: 73.7rem;
  }

  .barra_superior.large .ancho .telefono {
    display: inline-block;
    vertical-align: top;
    float: left;
  }

  .barra_superior.large .ancho .slogan {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  header.large {
    background-color: #fff !important;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
  }

  header.large .ancho {
    margin: 0 auto;
    width: 73.7rem;
  }

  header.large .logotipo {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    width: 26%;
  }

  header.large .logotipo a:link,
  header.large .logotipo a:visited {
    font-size: 4.5rem;
  }

  header.large nav {
    display: inline-block;
    margin-bottom: 6px;
    text-align: right;
    vertical-align: bottom;
    width: 73%;
  }

  header.large nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
  }

  header.large nav li a:link,
  header.large nav li a:visited {
    font-family: RarpeBold;
    font-size: 16px;
  }

  header.large nav li a:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }

  header.large #menuMovil {
    display: none;
  }

  .ancho.large {
    background-color: #eef2f7;
  }

  .ancho.large .envoltura {
    margin: 0 auto;
    width: 90%;
  }

  section.large {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section.large .ancho {
    margin: 0 auto;
    width: 62.5rem;
  }

  section.large .empresa {
    float: left;
    width: 617px;
  }

  section.large .actualidades {
    float: right;
    width: 326px;
  }

  section.large .destacados {
    margin: 0 auto;
    text-align: center;
    width: 62.5rem;
  }

  section.large .destacados h2 {
    text-align: left;
  }

  section.large .destacados .caja {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 15px;
  }

  section.large .destacados .caja:nth-child(4) {
    margin-right: 0;
  }

  section.large .destacados .caja .detalles .titulo {
    font-size: 14px;
    height: 34px;
    line-height: 2;
    overflow: hidden;
    padding: 6px 0 0 2px;
    text-align: left;
  }

  section.large .destacados .more {
    float: right;
  }

  footer.large {
    padding: 0;
  }

  footer.large .ancho {
    margin: 0 auto;
    width: 62.5rem;
  }

  footer.large .ancho article {
    max-width: 200px;
  }

  footer.large .ancho article .formulario {
    max-width: 200px;
  }

  footer.large .ancho article .direccion,
  footer.large .ancho article .info {
    font-size: 14px;
    max-width: 200px;
    padding-left: 0;
  }

  footer.large .ancho article:first-child {
    margin-right: 1rem;
  }

  footer.large .ancho article:nth-child(2),
  footer.large .ancho article:nth-child(3) {
    margin-right: 5rem;
  }

  footer.large .ancho .copy {
    text-align: left;
  }
}
