/*####################################
#
#	Autor: Hector Sevilla
#	Descripcion: Hoja de estilos para 
#				 la plantilla web de 
				 laboratorios rarpe
#	Fecha: 29/09/2014
#	Hora: 15:21
#
#	1- Barra Superior
#	2- Cabecera
#####################################*/

@import 'fonts.styl'
@import 'normalize.styl'
@import 'bxslider.styl'
@import 'flexisel.styl'
@import 'nib'


//Colores
azul_principal= #3261ab
gris = #eef2f7
texto = #424242
gris_puro = #1a1a1a
enlaces = #4e4d4d
inputs= #333232

//OOCSS
/*.ancho
	margin 0 auto
	width 1140px*/
.relativo
	position relative
.absoluto
	position absolute
.fix
	overflow hidden
.left
	float left
.right
	float right

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-telefono
	&:before
		content "\e602"
.icon-slogan
	&:before
		content "\e600"
.icon-slogan
	&:before
		content "\e600"
.icon-rarpeLogo
	&:before
		content "\e603"
.icon-mail
	&:before
		content "\e604"
.icon-facebook
	&:before
		content "\e601"

alinear()
	display inline-block
	vertical-align top
a
	text-decoration none
ul
p
figure
	margin 0
	padding 0
ul
	list-style none

body
	font-family 'RarpeRoman'
	font-size 16px
	color texto
h2
	border-bottom 1px solid azul_principal
	font-family 'RarpeRoman'
	font-size 1.2rem
	padding 15px 0
	text-transform uppercase


/*###############################################################################
	1- BARRA SUPERIOR
################################################################################*/

.barra_superior
	background-color: azul_principal
	color white
	//height 30px
	width auto
	.ancho
		text-align center
		> div
			//alinear()
			width auto
	.slogan
		font-size 1.8rem
	.telefono
		a
			&:link
			&:visited
				color white
				font-size 1.8rem
				vertical-align middle
		span
			font-family 'RarpeBold'
			vertical-align middle
	.redes-sociales
		ul
			li
				alinear()
				padding-top 4px
				a
					&:link
					&:visited
						color white
						font-size 1.3rem
					&:hover
						opacity .5

/*###############################################################################
	2- CABECERA
################################################################################*/

header
	padding-top 1.8rem
	border-bottom 2px solid azul_principal
	background-color: #FFF
	.logotipo
		a
			&:link
			&:visited
				color gris_puro
				font-size 5.5rem
	nav
		position relative
		ul
			li
				//alinear()
				padding 5px 10px
				a
					&:link
					&:visited
						color enlaces
						padding-bottom 52px
						text-transform uppercase
				ul
					background none repeat 0 0 rgba(255, 255, 255, .9)
					border-top 4px solid azul_principal
					box-shadow 0 3px 6px #8e8e8e
					left -9999px
					opacity 0
					position absolute
					top 56px
					transition opacity 0.5s ease 0s
					width 250px
					z-index 999
					li
						border-bottom 1px solid #b6b4b3
						display block !important
						transition all .5s ease 0s
						&:hover
							background-color: azul_principal
						a
							&:link
							&:visited
								display block
								padding 8px 35px
								text-align left
								transition all .5s ease 0s
						&:hover
							a
								color white
								padding-left 40px
								text-decoration none
				&:hover
					ul
						opacity 1
						left 0

/*###############################################################################
	3- SLIDER
################################################################################*/
.slider
	font-size 0
	position relative
	z-index -50
	img
		height auto
		width 100%

/*###############################################################################
	4- MENU CATEGORIAS
################################################################################*/

.categorias
	background-color: gris
	clearfix()
	width 100%
	.item
		text-align center
		position relative
		padding 1rem 0
		figure
			border-radius 3px
			border 3px solid #bcbcbc
			height 90px
			margin 0 auto
			width 127px
		.titulo
			padding 15px 0
			a
				&:link
				&:visited
					text-transform uppercase
					color azul_principal
					padding 10px 0
		.descripcion
			margin 0 auto
			text-align justify
			width 80%
		.item-hover
			//display none
			//box-sizing border-box
			background-color: azul_principal
			border-radius 30px 5px 5px 5px
			height 205px
			opacity 0
			padding-top 4rem
			position absolute
			top -20px
			transform rotateX(90deg)
			transition all 1s ease 0s
			z-index 100
			.titulo
				a
					&:link
					&:visited
						color white
			.descripcion
				color white
				width 80%
			.more
				padding 15px 0
				a
					&:link
					&:visited
						color white
					&:hover
						text-decoration underline
		&:hover
			.item-hover
				//display block
				transform rotateX(0deg)
				opacity 1
				

/*###############################################################################
	5- SECCION PRINCIPAL
################################################################################*/

section
	padding 20px
	.empresa
		figure
			img
				height auto
				width 100%
	.more
		padding 15px
		border 1px solid azul_principal
		display inline-block
		border-radius 5px
		margin 10px 0
		a
			&:link
			&:visited
				color azul_principal
			&:hover
				text-decoration underline
	.actualidades
		figure
			img
				height auto
				width 100%
	.destacados
		.caja
			margin 4rem 0
			position relative
			figure
				text-align center
			.caja-hover
				background none repeat 0 0 rgba(78, 77, 77, .3)
				height 204px
				left 0
				line-height 1.5
				position absolute
				text-align center
				box-sizing border-box
				padding-top 4.2rem
				border-radius 5px 5px 0 0
				opacity 0
				transition all 1s ease 0s
				top 0
				width 300px
				a
					&:link
					&:visited
						color white
						text-transform uppercase
						font-family: RarpeBold
					&:hover
						color azul_principal
			&:hover
				.caja-hover
					opacity 1
			.detalles
				.titulo
					background-color: gris
					padding 12px 8px
				.showmore
					background-color: azul_principal
					border-radius 0 0 5px 5px
					padding 12px 8px
					a
						&:link
						&:visited
							color white
/*###############################################################################
	6- PIE DE PAGINA
################################################################################*/

footer
	background-color: gris_puro
	border-top 6px solid #ededed
	color #bcbcbc
	padding 15px
	article
		padding 12px 0
		p
			&.titulo
				text-transform uppercase
				text-align center
				margin 15px 0
		.menu
			text-align center
			li
				padding 8px 0 
				a
					&:link
					&:visited
						color #bcbcbc
						text-transform uppercase
					&:hover
						color azul_principal
		.info
			padding-left 1rem
			padding-top 1rem
			.titulo
				text-transform uppercase
		.direccion
			padding-left 1rem
		.formulario
			text-align center
			input[type="text"]
			textarea
				background-color: inputs
				border 0
				border-radius 5px
				color #bcbcbc
				display inline-block
				margin 8px 0
				padding 10px 5px
				width 95%
			input[type="submit"]
				background-color: #4e4d4d
				border 2px solid transparent
				border-radius 5px
				color white
				padding 5px 10px
				text-transform capitalize
				&:hover
					border 2px solid azul_principal
	.seguridad
		text-align center
		.titulo
			margin-bottom 5px
	.copy
		border-top 2px solid #bcbcbc
		padding 12px 0

/*###############################################################################
	x- RESPONSIVE MEDIA QUERYES
################################################################################*/

@media screen and (min-width:240px)
	.barra_superior
		&.small
			.telefono
			.redes-sociales
				display none
	header
		&.small
			padding 1.5rem
			text-align center
			.logotipo
				a
					&:link
					&:visited
						font-size 4rem
			nav
				display none
			select
				border-radius 5px
				margin 0 auto
				color enlaces
				margin 5px 0
				padding 12px
				text-transform uppercase
				width 95%

@media screen and (min-width:468px)
	.barra_superior
		&.phones
			overflow hidden
			.redes-sociales
				display block
				float right
				padding-right 10px
			.slogan
				float left
	header
		&.phones
			.logotipo
				a
					&:link
					&:visited
						font-size: 6rem
	footer
		&.phones
			.direccion
			.info
				margin 0 auto
				width 15rem
			.formulario
				margin 0 auto
				width 20rem
			.copy
				text-align: center

@media screen and (min-width:768px)
	header
		&.tablet
			clearfix()
			.logotipo
				float left
			#menuMovil
				float right
				margin-top 1.8rem
				width 40%
	section
		&.tablet
			padding 3rem
			.destacados
				text-align: center
				.caja
					max-width 500px
					margin-left auto
					margin-right auto
					.detalles
						overflow hidden
						.titulo
							float left
							width 74%
						.showmore
							float left
							width 20%
							border-radius 0 0 5px 0
				.more
					float none
	footer
		&.tablet
			overflow hidden
			padding 25px
			article
				display inline-block
				vertical-align top
				width 48%
				.titulo
				.menu
					text-align: left
				.direccion
				.info
					margin 0
				&.seguridad
					text-align left
				&:first-child
				&:nth-child(3)
					margin-right 1rem
			.formulario
				text-align: right
				margin 0

@media screen and (min-width:1024px)
	.barra_superior
		&.large
			.ancho
				margin 0 auto
				width 62.5rem
				.telefono
					display inline-block
					vertical-align top
					float left
				.slogan
					float none
					display inline-block
					vertical-align top
	header
		&.large
			background-color: #FFF !important
			padding-left 5px
			padding-right 5px
			text-align: left
			.ancho
				margin 0 auto
				width 62.5rem
			.logotipo
				display inline-block
				float none
				vertical-align bottom
				width 26%
				a
					&:link
					&:visited
						font-size: 4.5rem
			nav
				display inline-block
				margin-bottom 6px
				text-align right
				vertical-align bottom
				width 73%
				li
					display inline-block
					padding-left 5px
					padding-right 5px
					vertical-align top
					a
						&:link
						&:visited
							font-size 14px
						&:hover
							opacity .8
							
			#menuMovil
				display none
	.ancho
		&.large
			background-color: gris
			.envoltura
				margin 0 auto
				width 90%
				.slick-track
					margin-left auto
					margin-right auto
				
	section
		&.large
			padding-left 1rem
			padding-right 1rem
			.ancho
				margin 0 auto
				width 62.5rem
			.empresa
				float left
				width 617px
			.actualidades
				float right
				width 326px
			.destacados
				margin 0 auto
				text-align: center
				width 62.5rem
				h2
					text-align left
				.caja
					display inline-block
					vertical-align top
					width 300px
					margin-right 15px
					&:nth-child(4)
						margin-right 0
					.detalles
						.titulo
							font-size: 14px
							height 34px
							line-height 2
							overflow hidden
							padding 6px 0 0 2px 
							text-align: left
	footer
		&.large
			.ancho
				margin 0 auto
				width 62.5rem
				article
					max-width 200px
					.formulario
						max-width 200px
					.direccion
					.info
						max-width 200px
						padding-left 0
					&:first-child
						margin-right 1rem
					&:nth-child(2)
					&:nth-child(3)
						margin-right 5rem
				.copy
					text-align left